{% extends "base.html" %}

{% block content %}

<div class="container d-flex gap-3 px-0">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="col filters border rounded-3 p-3" style="height: 780px;">
      <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
      </div> 
      <hr>
      <div class="container">
        <h5>Category</h5>
        <div class="form-check">
          <input name="type" class="form-check-input" type="checkbox" value="1" id="type1">
          <label class="form-check-label" for="type1">
            Electronics
          </label>
        </div>
        <div class="form-check">
          <input name="type" class="form-check-input" type="checkbox" value="2" id="type2">
          <label class="form-check-label" for="type2">
            Plants
          </label>
        </div>
        <div class="form-check">
          <input name="type" class="form-check-input" type="checkbox" value="3" id="type3">
          <label class="form-check-label" for="type3">
            Lab Equipment
          </label>
        </div>
        <div class="form-check">
          <input name="type" class="form-check-input" type="checkbox" value="4" id="type4">
          <label class="form-check-label" for="type4">
            Other
          </label>
        </div>
      </div>
      <hr>
      <div class="container">
        <h5>Price</h5>
        <div class="row g-3 align-items-center pb-2">
          <div class="col-3">
            <label for="pricemin" class="col-form-label">Min: </label>
          </div>
          <div class="col-9">
            <input name="priceMin" id="pricemin" class="form-control">
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-3">
            <label for="pricemax" class="col-form-label">Max: </label>
          </div>
          <div class="col-9">
            <input name="priceMax" id="pricemax" class="form-control">
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <h5>Location</h5>
        <div class="form-check">
          <input name="location" class="form-check-input" type="checkbox" value="1" id="locationupper">
          <label class="form-check-label" for="locationupper">
            Upper
          </label>
        </div>
        <div class="form-check">
          <input name="location" class="form-check-input" type="checkbox" value="2" id="locationlower">
          <label class="form-check-label" for="locationlower">
            Lower
          </label>
        </div>
        <div class="form-check">
          <input name="location" class="form-check-input" type="checkbox" value="3" id="locationnewton">
          <label class="form-check-label" for="locationnewton">
            Newton
          </label>
        </div>
      </div>
      <hr>
      <div class="container">
        <h5>Condition</h5>
        <div class="form-check">
          <input name="condition" class="form-check-input" type="checkbox" value="1" id="conditionnew">
          <label class="form-check-label" for="conditionnew">
            New
          </label>
        </div>
        <div class="form-check">
          <input name="condition" class="form-check-input" type="checkbox" value="2" id="conditionusedlikenew">
          <label class="form-check-label" for="conditionusedlikenew">
            Used (like new)
          </label>
        </div>
        <div class="form-check">
          <input name="condition" class="form-check-input" type="checkbox" value="3" id="conditionusedgood">
          <label class="form-check-label" for="conditionusedgood">
            Used (good)
          </label>
        </div>
        <div class="form-check">
          <input name="condition" class="form-check-input" type="checkbox" value="4" id="conditionusedfair">
          <label class="form-check-label" for="conditionusedfair">
            Used (fair)
          </label>
        </div>
        <div class="form-check">
          <input name="condition" class="form-check-input" type="checkbox" value="5" id="conditionrefurbished">
          <label class="form-check-label" for="conditionrefurbished">
            Refurbished
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Apply</button>
    </div>
  </form>

  <div class="col-9 container">
    <div class="container px-0">
      <div class="row row-cols-4 d-flex justify-content-between row-gap-4">
        {% for product in products %}
        <div class="rounded-3 col px-0">
          <div class="container">
            <a href="{{ url_for('main.product', product_id=product.id) }}"><img class="col rounded-3 resize-200" src="data:image/png;base64, {{ product.image_rendered_data }}"></a>
          </div>
          <div class="container p-0 m-0">
            <h5 class="fw-bold mb-1 mt-2">${{product.price}}</h5>
            <h6 class="mb-1">{{product.name}}</h6>
            {% if product.meetup == 1 %}
            <p class="fst-italic m-0">Available for pickup at Upper Campus</p>
            {% endif %}
            {% if product.meetup == 2 %}
            <p class="fst-italic m-0">Available for pickup at Lower Campus</p>
            {% endif %}
            {% if product.meetup == 3 %}
            <p class="fst-italic m-0">Available for pickup at Newton Campus</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}