{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="container bg-dark d-flex mb-4 p-0 rounded-3" style="height: 450px;">
    <div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner rounded-3">
        <div class="carousel-item active">
          <img src="../static/images/andrew-neel-ADjcacMLblo-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
          <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
            <h3 class="fw-bold">Add a Listing</h3>
            <p>Anywhere, anytime, BC Marketplace allows you to list the items that you don't use anymore</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/images/gustavo-quepon-pF_2lrjWiJE-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
          <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
            <h3 class="fw-bold">Reduce Your Environmental Impact</h3>
            <p>Buying items secondhand can both reduce the amount of goods manufactured, as well as reduce unnecessary waste.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/images/alex-lujan-V_kZo2Qot4Q-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
          <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
            <h3 class="fw-bold">Safe and Secure</h3>
            <p>BC Marketplace was built by BC Students, for BC Students.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container p-0 mb-3 d-flex justify-content-between align-middle">
    <h2 class="fw-bold text-center m-0 align-middle">Featured Listings</h2>
    <button class="btn btn-secondary fw-bold">See More</button>
  </div>
  <div class="container d-flex justify-content-between p-0 gap-5" style="height: 375px;">
    <div class="rounded-3" style="width: 300px;">
      <img class="col rounded-3" src="https://picsum.photos/id/6/300">
      <div class="container p-0 m-0">
        <h5 class="fw-bold mb-1 mt-2">$150.00</h5>
        <h6 class="mb-1">Dell Laptop</h6>
        <p class="fst-italic m-0">Meet Up on Lower Campus</p>
      </div>
    </div>
    <div class="rounded-3" style="width: 300px;">
      <img class="col rounded-3" src="https://picsum.photos/id/21/300">
      <div class="container p-0 m-0">
        <h5 class="fw-bold mb-1 mt-2">$30.00</h5>
        <h6 class="mb-1">Old Red High Heel Shoes</h6>
        <p class="fst-italic m-0">Meet Up on Campus</p>
      </div>
    </div>
    <div class="rounded-3" style="width: 300px;">
      <img class="col rounded-3" src="https://picsum.photos/id/145/300">
      <div class="container p-0 m-0">
        <h5 class="fw-bold mb-1 mt-2">$50.00</h5>
        <h6 class="mb-1">Used Fender Guitar</h6>
        <p class="fst-italic m-0">Pick Up on Newton Campus</p>
      </div>
    </div>
    <div class="rounded-3" style="width: 300px;">
      <img class="col rounded-3" src="https://picsum.photos/id/157/300">
      <div class="container p-0 m-0">
        <h5 class="fw-bold mb-1 mt-2">$20.00</h5>
        <h6 class="mb-1">Penny Board</h6>
        <p class="fst-italic m-0">Meet Up on Upper Campus</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid m-0">
  <div class="row flex-nowrap">
      <div class="col-auto px-0">
          <div id="sidebar" class="collapse collapse-horizontal show border-end">
              <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>Item</span> </a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-clock"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-archive"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-gear"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-calendar"></i> <span>Item</span></a>
                  <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-envelope"></i> <span>Item</span></a>
              </div>
          </div>
      </div>
      <main class="col ps-md-2 pt-2">
          <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Toggle Filters</a>
          <div class="page-header pt-3">
              <h2>Bootstrap 5 Sidebar Menu - Simple</h2>
          </div>
          <p class="lead">A offcanvas "push" vertical nav menu example.</p>
          <hr>
          <div class="row">
              <div class="col-12">
                  <p>This is a simple collapsing sidebar menu for Bootstrap 5. Unlike the Offcanvas component that overlays the content, this sidebar will "push" the content. Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                  <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>
              </div>
          </div>
      </main>
  </div>
</div>
{% endblock %}