{% extends "base.html" %}

{% block content %}
<div class="container bg-dark d-flex mb-4 p-0 rounded-3" style="height: 450px;">
  <div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded-3">
      <div class="carousel-item active">
        <img src="../static/images/andrew-neel-ADjcacMLblo-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
          <a class="text-decoration-none text-light" href="{{ url_for('main.add_item')}}"><h3 class="fw-bold">Add a Listing</h3></a>
          <p>Anywhere, anytime, BC Marketplace allows you to list the items that you don't use anymore</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/gustavo-quepon-pF_2lrjWiJE-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
          <h3 class="fw-bold">Reduce Your Environmental Impact</h3>
          <p>Buying items secondhand can both reduce the amount of goods manufactured, as well as reduce unnecessary waste.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/alex-lujan-V_kZo2Qot4Q-unsplash.jpg" class="d-block w-100 center-cropped" alt="Woman Using Laptop">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
          <h3 class="fw-bold">Safe and Secure</h3>
          <p>BC Marketplace was built by BC Students, for BC Students.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container p-0 mb-3 d-flex justify-content-between align-middle">
  <h2 class="fw-bold text-center m-0 align-middle">Featured Listings</h2>
  <a href="#page-break"><button class="btn btn-secondary fw-bold">See More</button></a>
</div>
<div class="container d-flex justify-content-between p-0 gap-5" style="height: 375px;">
  <div class="rounded-3" style="width: 300px;">
    <img class="col rounded-3" src="https://picsum.photos/id/6/300">
    <div class="container p-0 m-0">
      <h5 class="fw-bold mb-1 mt-2">$150.00</h5>
      <h6 class="mb-1">Dell Laptop</h6>
      <p class="fst-italic m-0">Meet Up on Lower Campus</p>
    </div>
  </div>
  <div class="rounded-3" style="width: 300px;">
    <img class="col rounded-3" src="https://picsum.photos/id/21/300">
    <div class="container p-0 m-0">
      <h5 class="fw-bold mb-1 mt-2">$30.00</h5>
      <h6 class="mb-1">Old Red High Heel Shoes</h6>
      <p class="fst-italic m-0">Meet Up on Campus</p>
    </div>
  </div>
  <div class="rounded-3" style="width: 300px;">
    <img class="col rounded-3" src="https://picsum.photos/id/145/300">
    <div class="container p-0 m-0">
      <h5 class="fw-bold mb-1 mt-2">$50.00</h5>
      <h6 class="mb-1">Used Fender Guitar</h6>
      <p class="fst-italic m-0">Pick Up on Newton Campus</p>
    </div>
  </div>
  <div class="rounded-3" style="width: 300px;">
    <img class="col rounded-3" src="https://picsum.photos/id/157/300">
    <div class="container p-0 m-0">
      <h5 class="fw-bold mb-1 mt-2">$20.00</h5>
      <h6 class="mb-1">Penny Board</h6>
      <p class="fst-italic m-0">Meet Up on Upper Campus</p>
    </div>
  </div>
</div>

<hr id="page-break" />

<div class="container d-flex gap-3 px-0">
  <div class="col filters border rounded-3 p-3" style="height: 780px;">
    <div class="form-outline" data-mdb-input-init>
      <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
    </div>
    <hr>
    <div class="container">
      <h5>Category</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="type1">
        <label class="form-check-label" for="type1">
          Electronics
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="type2">
        <label class="form-check-label" for="type2">
          Plants
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3" id="type3">
        <label class="form-check-label" for="type3">
          Lab Equipment
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="4" id="type4">
        <label class="form-check-label" for="type4">
          Other
        </label>
      </div>
    </div>
    <hr>
    <div class="container">
      <h5>Price</h5>
      <div class="row g-3 align-items-center pb-2">
        <div class="col-3">
          <label for="pricemin" class="col-form-label">Min: </label>
        </div>
        <div class="col-9">
          <input id="pricemin" class="form-control">
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-3">
          <label for="pricemax" class="col-form-label">Max: </label>
        </div>
        <div class="col-9">
          <input id="pricemax" class="form-control">
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <h5>Location</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="locationupper">
        <label class="form-check-label" for="locationupper">
          Upper
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="locationlower">
        <label class="form-check-label" for="locationlower">
          Lower
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3" id="locationnewton">
        <label class="form-check-label" for="locationnewton">
          Newton
        </label>
      </div>
    </div>
    <hr>
    <div class="container">
      <h5>Condition</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="conditionnew">
        <label class="form-check-label" for="conditionnew">
          New
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="conditionusedlikenew">
        <label class="form-check-label" for="conditionusedlikenew">
          Used (like new)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3" id="conditionusedgood">
        <label class="form-check-label" for="conditionusedgood">
          Used (good)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="4" id="conditionusedfair">
        <label class="form-check-label" for="conditionusedfair">
          Used (fair)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="5" id="conditionrefurbished">
        <label class="form-check-label" for="conditionrefurbished">
          Refurbished
        </label>
      </div>
    </div>
    <button class="btn btn-primary mt-3">Apply</button>
  </div>
  <div class="col-9 container">
    <div class="container px-0">
      <div class="row row-cols-4 d-flex justify-content-between row-gap-4">
        {% for product in products %}
        <div class="rounded-3 col px-0">
          <div class="container">
            <a href="{{ url_for('main.product', product_id=product.id) }}"><img class="col rounded-3 resize-200" src="data:image/png;base64, {{ product.image_rendered_data }}"></a>
          </div>
          <div class="container p-0 m-0">
            <h5 class="fw-bold mb-1 mt-2">${{product.price}}</h5>
            <h6 class="mb-1">{{product.name}}</h6>
            {% if product.meetup == 1 %}
            <p class="fst-italic m-0">Available for pickup at Upper Campus</p>
            {% endif %}
            {% if product.meetup == 2 %}
            <p class="fst-italic m-0">Available for pickup at Lower Campus</p>
            {% endif %}
            {% if product.meetup == 3 %}
            <p class="fst-italic m-0">Available for pickup at Newton Campus</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}