{% extends "base.html" %}

{% block content %}
<div class="container d-flex gap-3 px-0">
  <div class="col filters border rounded-3 p-3" style="height: 130px;">
    <h5>Look for Something New</h5>
    <div class="form-outline" data-mdb-input-init>
      <a href="{{ url_for('main.allproducts') }}"><button class="btn btn-lg btn-primary mt-3">Search Now</button></a>
    </div>
  </div>
  <div class="col-9 container d-flex justify-content-center">
    <div class="col-10">
      <h1 class="mb-3">{{ product.name }} - <span class="fw-bold">{{ product.price }}</span></h1>
      <div class="container border rounded-3 p-3 d-flex justify-content-center gap-3">
        <div class="col-8 d-flex justify-content-center">
          <img class="rounded-3 resize-550" src="data:image/png;base64, {{ product.image_rendered_data }}">
        </div>
        <div class="col filters border-start px-3 d-flex flex-column justify-content-between">
          <div class="container">
            <h3>Details</h3>
            <h5>{{ product.desc }}</h5>
            {% if product.meetup == 1 %}
            <p class="fst-italic">Available for pickup at Upper Campus</p>
            {% endif %}
            {% if product.meetup == 2 %}
            <p class="fst-italic">Available for pickup at Lower Campus</p>
            {% endif %}
            {% if product.meetup == 3 %}
            <p class="fst-italic">Available for pickup at Newton Campus</p>
            {% endif %}
            {% if seller.id != current_user.id %}
            <div class="px-0">
              <a class="btn btn-primary" href="https://mail.google.com/mail/u/0/?fs=1&to={{seller.email}}.com&su=Interested In {{product.name}}&tf=cm">Contact Seller</a>
            </div>
            {% endif %}
          </div>
          <div class="flex-grow-1"></div>
          <hr>
          <div class="flex-grow-1"></div>
          <div class="container">
            <h3>Seller</h3>
            <div class="container d-flex align-items-center px-0 mb-3">
              <img class="rounded-circle me-3 resize-50" src="https://avatar.iran.liara.run/public/{{seller.id}}">
              <h5 class="m-0"><a class="text-decoration-none text-black" href="{{ url_for('main.profile', user_id=seller.id)}}"><span class="fw-semibold">{{ seller.name }}</span></a></h5>
            </div>
            {% if seller.id == current_user.id %}
            <form method="post" action="{{ url_for('main.delete_product', id=product.id) }}">
              <button type="submit" class="btn btn-danger">
                Delete listing
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}