{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-start row">
  <!-- profile  -->
  <div class="col-md-4 d-flex h-auto sticky-top pt-2"> 
    <div class="profile-self rounded p-4 flex-grow-1">
      <!-- pfp -->
      <div class="d-flex align-items-center justify-content-center centered-container rounded-4 pfp">
        <img src="https://picsum.photos/id/6/300"> 
      </div>

      <!-- user info -->
      <div class="d-flex align-items-center justify-content-center m-2 p-2">
        <h2> {{ name }}</h2>
      </div>

      <div class="d-flex flex-column align-items-left p-2 w-auto">
        <div class="w-100">
          <h4>Email: {{email}} </h4>
        </div>
        <div class="w-100">
          <h4>Rating: {{rating}} </h4>
        </div>
        <div class="w-100">
          <h4>Location: {{location}} </h4>
        </div>
      </div>

    </div>
  </div>

  <!-- products  -->
  <div class="col-md-8 d-flex h-auto pt-2"> 
    <div class="profile-entries rounded p-4 flex-grow-1">
      
      <div class="row g-3">
        <h1>
          My Products
        </h1>

        <!-- product listing code -->
        <!-- its all spam! for the love of god make this scalable  -->
        {% for product in owned_products %}
          <div class="rounded-3 col-md-3">
            <div style="height: 150px; width: 200px; overflow: hidden;">
              <img class="col rounded-3" src="data:image/png;base64, {{ product.image_rendered_data }}">
            </div>
            <div class="container p-0 m-0">
              <h5 class="fw-bold mb-1 mt-2">${{product.price}} </h5>
              <h6 class="mb-1"> {{product.name}} </h6>
              <p class="fst-italic m-0">Meet Up: {{product.getLocation()}} </p>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </div>
</div>

{% endblock %}